$AppColor: rgb(221, 206, 245);
$SecondaryTheme: rgb(117, 3, 117);
$shadowColor: mediumvioletred;
$White: white;
$Cyan: #bfbfbf;
$BorderColor: rgba(255, 255, 255, 0.5);
$gray-darker: #444444;
$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: lighten($gray-lighter, 4%);
